extends layout

block content
  script(src="/js/index.js")
  div(class="container")
    form(id="stringForm")
      div(class="row")
        div(class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1")
          textarea(class="form-control" rows="20" placeholder="Paste text here" id="string")
      div(class="row")
        div(class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3")
          button(type="submit" class="btn btn-primary mt15 btn-block" id="stringButton") Format!
