extends layout

block content
  div(class="container-fluid")
    div(class="row")
      div(class="col-md-6 col-md-offset-3")
        div(class="well well-sm")
          strong PDFs Uploaded: #{pdfCount}
          br
          br
          button(class="btn btn-primary") Upload PDFs

        h2 Previous Searches (#{searches.length})
        table(class="table table-hover")
          tr
            th Search Term
            th Results
          each search in searches
            tr
              td
                a(href="#")=search.term
              td
                a(href="#")=search.count
