doctype html
head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(name="description" content="")
  meta(name="author" content="Matthew H. Sears")

  title String Formatter App

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")

  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  link(rel="stylesheet" href="/css/main.css")

body
  nav(class="navbar navbar-default")
    div(class="navbar-header")
      a(class="navbar-brand" href="/") String Formatter
      a(class="navbar-brand" href="https://github.com/mattsears18/stringformatter")
        img(src="/images/GitHub_Logo.png" height="20")

  block content

  hr
  div(class="container")
    div(class="text-gray")
      a(href="https://github.com/mattsears18/stringformatter/blob/master/LICENSE")="Copyright © 2017 Matthew H. Sears"
