extends layout

block content
  div(class="container")
    h2=search.term
    div
      table(class="table table-striped table-hover")
        tr
          th Articles (#{search.articles.length})
          th Word Count
        each article in search.articles
          tr
            th=result.name
            th=result.wordCount
